<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D Print Quotation Generator 0.1</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
Upload a 3D file
<form method="post" enctype="multipart/form-data">
  <input type="file" name="nf">
  <input type="submit">
</form>

</body>
</html>
